[submodule "Hardware"]
	path = Hardware
	url = git@github.com:Sandman6z/FlightSim_MonitorSys_Hardware.git
[submodule "Software"]
	path = Software
	url = git@github.com:Sandman6z/FlightSim_MonitorSys_Software.git
